@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Привет, это главная страница. Нажми на кнопки, чтобы</h1><br>
    Загрузить <a href="image">фото</a> на сервер<br />

    Посмотреть список <a asp-page="/Users">пользователей</a><br />

    Посмотреть список <a href="posts">постов</a><br />
    Если хочешь посмотреть <a href="time">time</a><br />
</div>
